<div class="wrapper">
<div class="ambassador-breaker">
    <app-navigation-menu></app-navigation-menu>
     
    <div class="container">
            <div class="onboarding-header burger-menu-mob brn-text-position mob-text-position">
            
        <img src="/assets/img/solar_crown-star-line-duotone.svg" class="">
                
        <div class="brn-header-info column gap mob-text">
          
        <h1 class="brn-title-48">Become a Brainz<br> Ambassador</h1>
            
        <p class="brn-text">
       Shape the Future of Digital Innovation</p>    
            </div>
            </div>
    </div>
</div>
    
</div>


















<div class="container container-for-settings"><app-footer></app-footer></div>